@import './fonts/index.css';
@import "iconfont/iconfont.css";
@import "theme.scss";

/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
  height: 50px;
  outline-offset: -2px;
  outline: 2px solid #fff;
  -webkit-border-radius: 4px;
  border: 2px solid #fff;
}

/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
  height: 150px;
  -webkit-border-radius: 4px;
}

/*---滚动条大小--*/
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  cursor: pointer;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  display: none;
} /* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
} /* 滑块颜色 */
::-webkit-scrollbar-button {
  display: none;
} /* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
  background-color: transparent;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

.el-dropdown-menu {
  padding: 8px;
  width: 136px;
  max-width: 136px;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.1);
  border: 1px solid $split-line-color;

  .el-dropdown-menu__item {
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    padding: 0 9px;
    color: $main-text-color;

    i {
      margin-right: 10px;
    }

    &:hover {
      background-color: $bg-hover-grey-color;
      color: $main-text-color;
    }
  }
}

.el-message {
  min-width: 320px !important;
}
