@font-face {
  font-family: "ls-icon-font"; /* Project id 3760592 */
  src: url('iconfont.woff2?t=1680847526385') format('woff2'),
       url('iconfont.woff?t=1680847526385') format('woff'),
       url('iconfont.ttf?t=1680847526385') format('truetype'),
       url('iconfont.svg?t=1680847526385#ls-icon-font') format('svg');
}

.ls-icon-font {
  font-family: "ls-icon-font" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ls-icon-icon_gerenxinxi:before {
  content: "\e726";
}

.ls-icon-icon_erweima:before {
  content: "\e727";
}

.ls-icon-nan:before {
  content: "\e724";
}

.ls-icon-nv:before {
  content: "\e725";
}

.ls-icon-a-icon_genghuanchenggong2x1:before {
  content: "\e723";
}

.ls-icon-logo:before {
  content: "\e722";
}

.ls-icon-icon_duihuakuang_yuyin:before {
  content: "\e713";
}

.ls-icon-icon_guanbi:before {
  content: "\e71e";
}

.ls-icon-icon_quanpin:before {
  content: "\e71f";
}

.ls-icon-icon_suoxiao:before {
  content: "\e720";
}

.ls-icon-icon_zuixiaohua:before {
  content: "\e721";
}

.ls-icon-icon_guaduan:before {
  content: "\e712";
}

.ls-icon-icon_jieting:before {
  content: "\e714";
}

.ls-icon-icon_maikefeng_dakai:before {
  content: "\e715";
}

.ls-icon-icon_shexiangtou_dakai:before {
  content: "\e716";
}

.ls-icon-icon_sheixnagtou_guanji:before {
  content: "\e717";
}

.ls-icon-icon_maikefeng_guanbi:before {
  content: "\e718";
}

.ls-icon-icon_shipin_duifang:before {
  content: "\e719";
}

.ls-icon-icon_shipin_wo:before {
  content: "\e71a";
}

.ls-icon-icon_zhuanyuyin:before {
  content: "\e71b";
}

.ls-icon-icon_yangshengqi_dakai:before {
  content: "\e71c";
}

.ls-icon-icon_yangshengqi_guanbi:before {
  content: "\e71d";
}

.ls-icon-icon_shipin:before {
  content: "\e70f";
}

.ls-icon-icon_cjql:before {
  content: "\e710";
}

.ls-icon-icon_yuyin:before {
  content: "\e711";
}

.ls-icon-icon_shanchu:before {
  content: "\e70c";
}

.ls-icon-icon_tianxie:before {
  content: "\e70d";
}

.ls-icon-icon_zhuanfa:before {
  content: "\e70e";
}

.ls-icon-icon_txl_lxr:before {
  content: "\e707";
}

.ls-icon-icon_txl_xdlxr:before {
  content: "\e708";
}

.ls-icon-icon_tianjiahaoyou:before {
  content: "\e709";
}

.ls-icon-icon_txl_jszc:before {
  content: "\e70a";
}

.ls-icon-icon_txl_ql:before {
  content: "\e70b";
}

.ls-icon-a-icon_duanwang2x:before {
  content: "\e705";
}

.ls-icon-a-zt_ts_icon2x:before {
  content: "\e706";
}

.ls-icon-a-shipin2x:before {
  content: "\e704";
}

.ls-icon-a-icon_OCRshibie2x:before {
  content: "\e6fd";
}

.ls-icon-a-icon_zuobian2x:before {
  content: "\e6fe";
}

.ls-icon-a-icon_shezhi2x:before {
  content: "\e6ff";
}

.ls-icon-a-icon_weixin2x:before {
  content: "\e700";
}

.ls-icon-a-icon_shouji2x:before {
  content: "\e701";
}

.ls-icon-a-icon_erweima2x:before {
  content: "\e702";
}

.ls-icon-a-icon_gengduo22x:before {
  content: "\e703";
}

.ls-icon-a-icon_shangchuanshenfenzheng2x:before {
  content: "\e6dd";
}

.ls-icon-a-icon_genghuantouxiang2x:before {
  content: "\e6f5";
}

.ls-icon-a-icon_qunerweima2x:before {
  content: "\e6f6";
}

.ls-icon-a-icon_jianhao2x:before {
  content: "\e6f7";
}

.ls-icon-a-icon_qungonggao2x:before {
  content: "\e6f8";
}

.ls-icon-a-icon_mingpian2x:before {
  content: "\e6f9";
}

.ls-icon-a-icon_bianjiqunmingcheng2x:before {
  content: "\e6fa";
}

.ls-icon-a-icon_shezhi22x:before {
  content: "\e6fb";
}

.ls-icon-a-icon_wenjian2x:before {
  content: "\e6fc";
}

.ls-icon-a-icon_weijianwei2x:before {
  content: "\e6f0";
}

.ls-icon-a-icon_whhlvw2x:before {
  content: "\e6f1";
}

.ls-icon-a-icon_shijianju2x:before {
  content: "\e6f2";
}

.ls-icon-a-icon_nongwei2x:before {
  content: "\e6f3";
}

.ls-icon-a-Union22x:before {
  content: "\e6de";
}

.ls-icon-a-icon_bjbm2x:before {
  content: "\e6df";
}

.ls-icon-a-Union12x:before {
  content: "\e6e0";
}

.ls-icon-a-icon_caozuo2x:before {
  content: "\e6e1";
}

.ls-icon-a-icon_scbm2x:before {
  content: "\e6e2";
}

.ls-icon-a-icon_renshu2x:before {
  content: "\e6e3";
}

.ls-icon-a-icon_Messages2x:before {
  content: "\e6e4";
}

.ls-icon-a-icon_zuzhiguanli2x:before {
  content: "\e6e5";
}

.ls-icon-a-icon_highlight_gl2x:before {
  content: "\e6e6";
}

.ls-icon-a-icon_jstd2x:before {
  content: "\e6e7";
}

.ls-icon-a-icon_chuangkouguanli2x:before {
  content: "\e6e8";
}

.ls-icon-a-icon_mrtb2x:before {
  content: "\e6e9";
}

.ls-icon-a-icon_zzjg2x:before {
  content: "\e6ea";
}

.ls-icon-a-icon_wblxr2x:before {
  content: "\e6eb";
}

.ls-icon-a-icon_Video2x:before {
  content: "\e6ec";
}

.ls-icon-a-icon_yuyin2x:before {
  content: "\e6ed";
}

.ls-icon-a-icon_xzzx2x:before {
  content: "\e6ee";
}

.ls-icon-a-icon_jiaotongju2x:before {
  content: "\e6ef";
}

.ls-icon-a-icon_selectedbs_sqb2x:before {
  content: "\e6c0";
}

.ls-icon-a-icon_selectedbs_da2x:before {
  content: "\e6c4";
}

.ls-icon-a-icon_selectedbs_qs2x:before {
  content: "\e6cf";
}

.ls-icon-a-qs_nor2x:before {
  content: "\e6d0";
}

.ls-icon-a-icon_selectedbs_sq2x:before {
  content: "\e6d2";
}

.ls-icon-a-fgzc_icon2x:before {
  content: "\e6d3";
}

.ls-icon-a-icon_selectedbs_lx2x:before {
  content: "\e6d5";
}

.ls-icon-a-icon_xj2x:before {
  content: "\e6da";
}

.ls-icon-a-icon_default_sf2x:before {
  content: "\e6db";
}

.ls-icon-a-qkl_icon2x:before {
  content: "\e6dc";
}

.ls-icon-a-sm_icon2x:before {
  content: "\e6bc";
}

.ls-icon-a-da_nor2x:before {
  content: "\e6bd";
}

.ls-icon-a-zz_nor2x:before {
  content: "\e6be";
}

.ls-icon-a-icon_sbk2x:before {
  content: "\e6bf";
}

.ls-icon-a-sqb_nor2x:before {
  content: "\e6c1";
}

.ls-icon-a-yw_icon2x:before {
  content: "\e6c2";
}

.ls-icon-a-icon_close2x:before {
  content: "\e6c3";
}

.ls-icon-a-icon_default_sq2x:before {
  content: "\e6c5";
}

.ls-icon-a-icon_more2x:before {
  content: "\e6c6";
}

.ls-icon-a-sf_nor2x:before {
  content: "\e6c7";
}

.ls-icon-a-icon_default_lx2x:before {
  content: "\e6c8";
}

.ls-icon-a-icon_default_tz2x:before {
  content: "\e6c9";
}

.ls-icon-a-bianzu23beifen42x:before {
  content: "\e6ca";
}

.ls-icon-a-icon_qh2x:before {
  content: "\e6cb";
}

.ls-icon-a-icon_ss_12x:before {
  content: "\e6cc";
}

.ls-icon-a-icon_yy2x:before {
  content: "\e6cd";
}

.ls-icon-a-star_fill2x:before {
  content: "\e6ce";
}

.ls-icon-a-icon_default_gl2x:before {
  content: "\e6d1";
}

.ls-icon-a-icon_sp2x:before {
  content: "\e6d4";
}

.ls-icon-a-icon_selectedbs_bs2x:before {
  content: "\e6d6";
}

.ls-icon-a-icon_yzcg2x:before {
  content: "\e6d7";
}

.ls-icon-a-icon_sctp2x:before {
  content: "\e6d8";
}

.ls-icon-a-icon_default_sz2x:before {
  content: "\e6d9";
}

.ls-icon-a-icon_kuaijiejian2x:before {
  content: "\e6bb";
}

.ls-icon-icon_wenjian:before {
  content: "\e6ba";
}

.ls-icon-sz_gx:before {
  content: "\e619";
}

.ls-icon-sz_ys:before {
  content: "\e61a";
}

.ls-icon-sz_ty:before {
  content: "\e61b";
}

.ls-icon-sz_wj:before {
  content: "\e61c";
}

.ls-icon-sz_gy:before {
  content: "\e61d";
}

.ls-icon-sz_tz:before {
  content: "\e61e";
}

.ls-icon-sz_zhzx:before {
  content: "\e61f";
}

.ls-icon-pop_cd_tp:before {
  content: "\e613";
}

.ls-icon-pop_cd_sb:before {
  content: "\e614";
}

.ls-icon-pop_cd_wj:before {
  content: "\e615";
}

.ls-icon-pop_cd_mp:before {
  content: "\e616";
}

.ls-icon-pop_cd_sz:before {
  content: "\e617";
}

.ls-icon-pop_cd_cjql:before {
  content: "\e618";
}

.ls-icon-xx_srk_gd:before {
  content: "\e60e";
}

.ls-icon-xx_srk_fs_nor:before {
  content: "\e60f";
}

.ls-icon-xx_srk_bq:before {
  content: "\e610";
}

.ls-icon-xx_srk_jt:before {
  content: "\e611";
}

.ls-icon-xx_srk_fs_dis:before {
  content: "\e612";
}

.ls-icon-menu_txl_nor:before {
  content: "\e605";
}

.ls-icon-navi_gb_icon:before {
  content: "\e606";
}

.ls-icon-navi_ss_add:before {
  content: "\e607";
}

.ls-icon-menu_xx_nor:before {
  content: "\e608";
}

.ls-icon-menu_txl_sel:before {
  content: "\e609";
}

.ls-icon-navi_zxh_icon:before {
  content: "\e60a";
}

.ls-icon-navi_sx_icon:before {
  content: "\e60b";
}

.ls-icon-navi_ss_icon:before {
  content: "\e60c";
}

.ls-icon-menu_xx_sel:before {
  content: "\e60d";
}

