@font-face {
  font-family: "ls-icon-font"; /* Project id 3760592 */
  src: url('iconfont.woff2?t=1675731434102') format('woff2'),
       url('iconfont.woff?t=1675731434102') format('woff'),
       url('iconfont.ttf?t=1675731434102') format('truetype'),
       url('iconfont.svg?t=1675731434102#ls-icon-font') format('svg');
}

.ls-icon-font {
  font-family: "ls-icon-font" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ls-icon-sz_gx:before {
  content: "\e619";
}

.ls-icon-sz_ys:before {
  content: "\e61a";
}

.ls-icon-sz_ty:before {
  content: "\e61b";
}

.ls-icon-sz_wj:before {
  content: "\e61c";
}

.ls-icon-sz_gy:before {
  content: "\e61d";
}

.ls-icon-sz_tz:before {
  content: "\e61e";
}

.ls-icon-sz_zhzx:before {
  content: "\e61f";
}

.ls-icon-pop_cd_tp:before {
  content: "\e613";
}

.ls-icon-pop_cd_sb:before {
  content: "\e614";
}

.ls-icon-pop_cd_wj:before {
  content: "\e615";
}

.ls-icon-pop_cd_mp:before {
  content: "\e616";
}

.ls-icon-pop_cd_sz:before {
  content: "\e617";
}

.ls-icon-pop_cd_cjql:before {
  content: "\e618";
}

.ls-icon-xx_srk_gd:before {
  content: "\e60e";
}

.ls-icon-xx_srk_fs_nor:before {
  content: "\e60f";
}

.ls-icon-xx_srk_bq:before {
  content: "\e610";
}

.ls-icon-xx_srk_jt:before {
  content: "\e611";
}

.ls-icon-xx_srk_fs_dis:before {
  content: "\e612";
}

.ls-icon-menu_txl_nor:before {
  content: "\e605";
}

.ls-icon-navi_gb_icon:before {
  content: "\e606";
}

.ls-icon-navi_ss_add:before {
  content: "\e607";
}

.ls-icon-menu_xx_nor:before {
  content: "\e608";
}

.ls-icon-menu_txl_sel:before {
  content: "\e609";
}

.ls-icon-navi_zxh_icon:before {
  content: "\e60a";
}

.ls-icon-navi_sx_icon:before {
  content: "\e60b";
}

.ls-icon-navi_ss_icon:before {
  content: "\e60c";
}

.ls-icon-menu_xx_sel:before {
  content: "\e60d";
}

